extends layout

block content
  .row.banner 
    .col-12
     h1 Locator
      small &nbsp;Find restuarants near you!
  .row
   .col-12.col-md-8
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum iure illum eveniet inventore soluta explicabo, veritatis quisquam distinctio error placeat commodi omnis ex laborum corrupti quo doloribus aperiam nesciunt expedita ipsum tempore praesentium. Nisi corporis, animi, molestias ut mollitia vitae, quia ullam fugit hic eaque incidunt modi consectetur unde!
   .col-12.col-md-4
    p.lead Locator helps you find restaurants near you when you are out and about
